.App {
  text-align: left;
}

.left {
	width: 22%;
}

h1 {
	font-size: 35px;
	font-weight: bold;
	margin: 20px 0 20px;
}

.search {
	display: inline-block;
	padding-left: 20px;
}

#toggle-button {
	display: none;
}

ul#bookstores-list {
	list-style: none;
	padding-left: 5px;
	margin-top: 10px;
	height: 80vh;
	overflow: auto;
}

li .bookstore-name {
	font-size: 18px;
	padding-top: 0.5em;
}

li .bookstore-name:hover {
	cursor: grabbing;
	text-decoration: underline;
}

li .bookstore-address {
	font-size: 12px;
	color: grey;
}

#map {
	height: 100%;
	width: 75%;
	left: 25%;
	position: absolute;
	top: 0;
}

#bookstoreInfo {
	width: 300px;
	height: 250px;
}

#storeTitle {
	font-size: 1.5em;
	max-width: 300px;
}

#bookstoreInfo img {
	height: 200px;
	width: 300px;
	margin-top: 15px;
}

#bookstoreInfo .bookstore-address {
	margin-top: 10px;
}
#bookstoreInfo .photo .source {
	margin-top: 10px;
	font-style: italic;
}

@media (max-width: 950px) {
	.left {
		width: 100%;
	}

	#bookstores-list {
		padding: 20px 0;
		background-color: white;
		height: 100%;
		max-height: 400px;
		overflow: scroll;
		box-shadow: 0px 25px 28px -20px rgba(0,0,0,0.34);

	}

	#toggle-button {
		display: inline-block;
		margin-left: 10px;
	}

	#map {
		position: relative;
		width: 100%;
		height: 100%;
		left: 0;
		top: 120px;
	}
}
