.App {
  text-align: left;
}

.left {
	width: 22%;
	padding-left: 1em;
}

/*input[type=text] {
	display: inline-block;
	font-size: 20px;
	padding: 8px 4px;
	border: 2px solid grey;
	border-radius: 4px;
	margin-right: 0;
}*/

.filter {
	display: inline-block;
	margin-top: 10px;
	float: clear;
}

#map {
	height: 100%;
	width: 75%;
	left: 25%;
	position: absolute;
	top: 0;
}

@media (max-width: 950px) {
	.left {
		width: 93%;
		text-align: center;
	}

	#map {
		width: 100%;
		left: 0;
		top: 120px;
	}
}
