.App {
  text-align: left;
}

.left {
	width: 22%;
	padding-left: 1em;
}

h1 {
	font-size: 25px;
	font-weight: bold;
}

.filter {
	display: inline-block;
	margin-top: 10px;
	float: clear;
}

ul.bookstores-list {
	list-style: none;
	padding-left: 5px;
}
li .bookstore-name {
	font-size: 18px;
	padding-top: 0.5em;
}

li .bookstore-name:hover {
	cursor: grabbing;
	text-decoration: underline;
}

li .bookstore-address {
	font-size: 12px;
	color: grey;
}

#map {
	height: 100%;
	width: 75%;
	left: 25%;
	position: absolute;
	top: 0;
}

#bookstorePhoto {
	width: 300px;
	height: 200px;
}

@media (max-width: 950px) {
	.left {
		width: 93%;
		text-align: center;
	}

	#map {
		width: 100%;
		left: 0;
		top: 120px;
	}
}
